.gradient_background {
    background: linear-gradient( #89c7c3, #F9FBE7, #F9FBE7, white, white, white );
  
    background-size: cover;
  }
  .App{
    overflow-y: scroll;
  }

  .inner-carousel{
    display: flex;
    background-color:#89c7c3; 
    border-radius: 20px;
  }
  .carousel{
    cursor: grab;
    overflow: hidden;
    background: #088395;
    border-radius: 20px;
  }
  